
img.active {
    z-index: -2;
}

img.next {
    z-index: -3;
}

img.inactive {
    z-index: -100;
}

.animate_appear {
    opacity: 0;
}

div.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

div.fill img{
    flex-shrink: 0;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

hr.elegant {
    width: 90%;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
    border: 0;
    height: 2px;
    background-image: linear-gradient(left, #fafafa, #8c8b8b, #fafafa);
    background-image: -webkit-linear-gradient(left, #fafafa, #8c8b8b, #fafafa);
    background-image: -moz-linear-gradient(left, #fafafa, #8c8b8b, #fafafa);
    background-image: -ms-linear-gradient(left, #fafafa, #8c8b8b, #fafafa);
    background-image: -o-linear-gradient(left, #fafafa, #8c8b8b, #fafafa);
}
