.cover_screen {
  min-width: 100%;
  width: 100%;
  left: 0;
  top: 0;
  height:100vh;
}

.fixed {
  position: fixed;
}

div#splash_background img.active {
  z-index:-2
}

div#splash_background img.next{
  z-index:-3
}

div#splash_background img.inactive{
  z-index:-100
}

.animate_appear{
  opacity:0
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.zero_z_index {
  z-index: 3;
}

div#overlay {
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 1;
}
