div.splash_background > img {
  margin-right: 0px!important;
  margin-bottom: 0px;
  max-width: 100%;
  min-height: 100%
  height: auto;
  overflow: hidden;
}

div.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

div.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.full-width {
    width: 100%;
    left: 0px;
    right: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
}

div.below_viewport {
    position: absolute;
    top: 101vh;
    z-index: -1;
}

hr.elegant {
    width: 90%;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
    border: 0;
    height: 2px;
    background-image: linear-gradient(left, #fafafa, #8c8b8b, #fafafa);
    background-image: -webkit-linear-gradient(left, #fafafa, #8c8b8b, #fafafa);
    background-image: -moz-linear-gradient(left, #fafafa, #8c8b8b, #fafafa);
    background-image: -ms-linear-gradient(left, #fafafa, #8c8b8b, #fafafa);
    background-image: -o-linear-gradient(left, #fafafa, #8c8b8b, #fafafa);
}

/* The Masonry Container */
div.masonry {
  margin: auto;
  grid-gap: 0.5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, 200px);
  grid-auto-flow: dense;
}

/* The Masonry Brick */
.item {
  background: #f2f3f4;
  padding: 0em;
}

.item.vertical {
  grid-row: span 2;
}

@media only screen and (min-width: 480px) {
.item.large {
  grid-row: span 2;
  grid-column: span 2;
}

.item.panorama {
  grid-column: span 2;
}
}


div.masonry div.item img {
  /*max-height: 400px;*/
  object-fit: cover;
  width: 100%;
  height: 100%;
}

div.masonry div.item a {
  width: 100%;
  height: 100%;
}

.table-of-contents {
  text-overflow: ellipsis;
  max-width: 25em;
  background: #eee;
  font-size: 0.8em;
  padding: 0.5em;
  margin: 0 0 1em 1em;
}

@media only screen and (min-width: 667px) { /*https://css-tricks.com/snippets/css/media-queries-for-standard-devices/*/
  .table-of-contents {
    float: right;
  }
}

.fa {
  color: #fff;
}

.fas {
  color: #fff;
}

.fa-facebook, .fa-google, .fa-pinterest, .fa-vk, .fa-twitter, .fa-arrows-alt {
  color: #fff; /*#4285F4;*/
}

a {
    color: #7997c4; /*#c6dcff;/* #0d47a1; */
}

a:hover {
    color: #4285F4;
}

#main-picture-container {
  background-color: #575757; /*#212124;/*#f3f5f6;*/
  margin-top: -0.5rem; /* remove a space from nav bar */
  color=#FFF;
  padding-bottom: 1rem;
}


#card-informations, #card-tags, #card-metadata {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  height: auto;
  padding-bottom: 0px;
}

div.card {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.2s;
    transition-property: box-shadow;
    transition-timing-function: ease;
    padding-bottom: 50% ; /* % of width, defines aspect ratio*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 350px
}

div.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mr-1 {
  margin-bottom: .25rem;
}


.btn {
  background-color: #2c3e50;
  border-color: #2c3e50;
}
